.calendar {
  grid-area: c;
  /* background-color: green; */
  height: auto;
}

.calendarHeader {
  display: grid;
  grid-template-areas: "l c r";
}

.left {
  grid-area: l;
}

.central {
  grid-area: c;
  text-align: center;
}
.right {
  grid-area: r;
}
